<!DOCTYPE html>
<html>

<head>
    <title>Consultar RUC</title>
</head>

<body>
    <h1>Consultar RUC</h1>

    <form id="frmConsultas" onsubmit="enviarFormulario(event)">
        <label for="ruc">Ingrese el RUC:</label>
        <input type="text" id="ruc" name="ruc" required>
        <button type="submit">Consultar</button>

        <script>
            document.getElementById("ruc").addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.querySelector("form").submit();
                }
            });
        </script>
    </form>

    <div id="resultado"></div>

    <script>
        function enviarFormulario(event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma convencional

            var formulario = document.getElementById("frmConsultas");
            var datos = new FormData(formulario);

            fetch('http://localhost:5000/contribuyentes?' + new URLSearchParams(datos), {
                method: 'GET',
                // No es necesario incluir body para una solicitud GET
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Respuesta del servidor:', data);
                    mostrarResultadoEnGrilla(data);
                })
                .catch(error => {
                    console.error('Error al enviar la solicitud:', error);
                });
        }

        function mostrarResultadoEnGrilla(data) {
            var resultadoDiv = document.getElementById("resultado");

            // Limpiar el contenido anterior
            resultadoDiv.innerHTML = '';

            // Crear tabla
            var tabla = document.createElement("table");
            tabla.border = "1";

            // Crear encabezado
            var encabezado = tabla.createTHead();
            var filaEncabezado = encabezado.insertRow();
            for (var i = 0; i < data[0].length; i++) {
                var th = document.createElement("th");
                th.innerHTML = "Columna " + (i + 1);
                filaEncabezado.appendChild(th);
            }

            // Crear filas con datos
            var cuerpoTabla = tabla.createTBody();
            data.forEach(function (fila) {
                var tr = cuerpoTabla.insertRow();
                fila.forEach(function (valor) {
                    var td = tr.insertCell();
                    td.innerHTML = valor;
                });
            });

            // Agregar tabla al div de resultado
            resultadoDiv.appendChild(tabla);
        }
    </script>

</body>

</html>