<!DOCTYPE html>
<html>

<head>
    <title>Consultar RUC</title>
</head>

<body>
    <h1>Consultar RUC</h1>

    <form id="frmConsultas" onsubmit="enviarFormulario(event)">
        <label for="ruc">Ingrese el RUC:</label>
        <input type="text" id="ruc" name="ruc" required>
        <button type="submit">Consultar</button>

        <script>
            document.getElementById("ruc").addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.querySelector("form").submit();
                }
            });
        </script>
    </form>

    <div id="resultado"></div>

    <script>
        function enviarFormulario(event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma convencional

            var formulario = document.getElementById("frmConsultas");
            var datos = new FormData(formulario);

            fetch('http://localhost:5000/contribuyentes?' + new URLSearchParams(datos), {
                method: 'GET',
                // No es necesario incluir body para una solicitud GET
            })
                .then(response => response.json()) // Si el servidor responde con JSON
                .then(data => {
                    console.log('Respuesta del servidor:', data);
                    // Puedes realizar acciones adicionales según la respuesta del servidor
                })
                .catch(error => {
                    console.error('Error al enviar la solicitud:', error);
                });
        }
    </script>

</body>

</html>