<!DOCTYPE html>
<html>

<head>
    <title>Cargar RUCs</title>
</head>

<body>
    <h1>Cargar archivos con RUCs</h1>
    <form action="http://localhost:5000/zips" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept=".zip" multiple>
        <input type="submit" value="Cargar">
    </form>
    <br>
    <div id="result"></div>
    <!-- Capturar el resultado json del endpoint zips -->
    <script>
        document.querySelector('form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const form = e.target;
            const formData = new FormData(form);
            const response = await fetch(form.action, {
                method: form.method,
                body: formData
            });
            const result = await response.json();
            document.getElementById('result').innerText = result.message;

            // Clear the selected files list
            form.reset();
        });
    </script>
</body>

</html>